.App {
  text-align: center;
}

.container {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  flex-direction: column;
  /* height: 500px;
  width: 800px; */
  background-color: aquamarine;
}

.caculation {
  font-size: 30px;
  display: flex;
  /* justify-content: space-around; */
  flex-direction: row;
}
input {
  font-size: 22px;
}
.result {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  text-align: center;
}
.compute {
  width: 80px;
  font-size: 40px;
}
